/* ANIMATIONS EVENTS ----------------------------*/
#animation1, #animation2, #animation3 {  
  width: 50px;
  height: 20px;
  background-color: red;
  position: relative;
  animation: move 3s linear paused;
}

@keyframes move {
  0% {left: 0px;}
  45% {left: 300px;}
  50% {left: 300px;}
  95% {left: 0px;}
}

#animation3 {  
  animation-iteration-count: infinite;
}

/* ----------------------------------------------*/
h2 {
  border-top: solid 1px gray;
  padding-top: 10px;
}

td, th {
  padding-right: 30px;
  text-align: left;
}

.first_TD {
  font-weight: bold;
}
