/* ANIMATIONS EVENTS ----------------------------*/
#animation1, #animation2, #animation3 {
  width: 50px;
  height: 20px;
  background-color: red;
  position: relative;
  animation: paused move 3s linear;
}

@keyframes move {
  0% {left: 0px;}
  45% {left: 300px;}
  50% {left: 300px;}
  95% {left: 0px;}
}

#animation1 {
  animation-delay: 0.2s;
}

#animation3 {  
  animation-iteration-count: infinite;
}

/* TRANSITION EVENTS ----------------------------*/
#transition1 {  
  width: 100px;
  height: 20px;
  background: green;
  transition: 2s width;
  transition-timing-function: linear;
}

#transition1:hover {
  width: 400px;
}

/* ----------------------------------------------*/
h2 {
  border-top: solid 1px gray;
  padding-top: 10px;
}

td, th {
  padding-right: 30px;
  text-align: left;
}

.first_TD {
  font-weight: bold;
}
