
/* PROPERTIES EXAMPLES - TRANSITIONS ------------*/
#example1 {
  width: 200px;
  height: 110px;
  background: yellow;
  transition-duration: 1s;
  transition-property: width;
}

#example2 {
  width: 400px;
  height: 100px;
  background: yellow;
  transition-delay: 1s;
  transition-duration: 2s;
  /*transition-property: Disabled because all properties receive transition*/
  transition-timing-function: linear;
}

#example1:hover, #example2:hover {
  width: 700px;
  height: 200px;
  color: white;
  background: blue;
}

/* SPEED BEHAVIOR - TRANSITIONS -----------------*/
.table_transition div {  
  width: 100px;
  height: 20px;
  background: green;
  transition: 2s width, background-color 3s 1s;
}

.table_transition div:hover {
  width: 800px;
  background: yellow;
}

#speed1 {transition-timing-function: ease;}
#speed2 {transition-timing-function: linear;}
#speed3 {transition-timing-function: ease-in;}
#speed4 {transition-timing-function: ease-out;}
#speed5 {transition-timing-function: ease-in-out;}
#speed6 {transition-timing-function: cubic-bezier(1,1,1,0.1);}

th {
  text-align: left;
}

/* SPEED BEHAVIOR - ANIMATIONS ------------------*/
.table_animation div {  
  width: 50px;
  height: 20px;
  background: red;
  position: relative;
  animation: move 5s infinite;
}

@keyframes move {
  0% {left: 0px;}
  45% {left: 300px;}
  50% {left: 300px;}
  95% {left: 0px;}
}

#speed_1 {animation-timing-function: ease;}
#speed_2 {animation-timing-function: linear;}
#speed_3 {animation-timing-function: ease-in;}
#speed_4 {animation-timing-function: ease-out;}
#speed_5 {animation-timing-function: ease-in-out;}
#speed_6 {animation-timing-function: cubic-bezier(1,1,1,0.1);}

/* TRIGGERING - TRANSITIONS ---------------------*/
.square1 {
  width: 100px;
  height: 100px;
  background: blue;
  transition: 2s;
}

/* TRIGGERING - ANIMATIONS ----------------------*/
.square2 {
  width: 50px;
  height: 50px;
  background: brown;
  position: relative;
}

@keyframes move1 {
  from {left: 0px;}
  to {left: 300px;}
}

@keyframes move2 {
  0% {top: 0px; left: 0px;}
  40% {top: 0px; left: 200px;}
  50% {top: 50px; left: 200px;}
  90% {top: 50px; left: 0px;}
  100% {top: 0px; left: 0px;}
}

#example6:hover {
  animation-play-state: paused;
}

/*-----------------------------------------------*/
#space {
  margin: 50px;
}