div {  
  width: 100px;
  height: 20px;
  background: green;
  transition: width 1s;
}

div:hover {
  width: 1000px;
  background: yellow;
}

#speed1 {transition-timing-function: ease;}
#speed2 {transition-timing-function: linear;}
#speed3 {transition-timing-function: ease-in;}
#speed4 {transition-timing-function: ease-out;}
#speed5 {transition-timing-function: ease-in-out;}
#speed6 {transition-timing-function: cubic-bezier(1,1,1,0.1);}

th {
  text-align: left;
}

#example1 {
  background: yellow;
  transition-delay: 1s;
  transition-duration: 3s;
  transition-property: heigth;
}