#example1 {
  width: 200px;
  height: 110px;
  background: yellow;
  transition-duration: 1s;
  transition-property: width;
}

#example2 {
  width: 400px;
  height: 100px;
  background: yellow;
  transition-delay: 1s;
  transition-duration: 2s;
  /*transition-property: Disabled because all properties receive transition*/
  transition-timing-function: linear;
}

#example1:hover, #example2:hover {
  width: 700px;
  height: 200px;
  color: white;
  background: blue;
}


/*-----------------------------------------------*/
table div {  
  width: 100px;
  height: 20px;
  background: green;
  transition: width 2s;
}

table div:hover {
  width: 1000px;
}

#speed1 {transition-timing-function: ease;}
#speed2 {transition-timing-function: linear;}
#speed3 {transition-timing-function: ease-in;}
#speed4 {transition-timing-function: ease-out;}
#speed5 {transition-timing-function: ease-in-out;}
#speed6 {transition-timing-function: cubic-bezier(1,1,1,0.1);}

th {
  text-align: left;
}